- add_to_breadcrumbs _("Package Registry"), project_packages_path(@project)
- add_to_breadcrumbs @package.name, project_packages_path(@project)
- breadcrumb_title @package.version
- page_title _("Package Registry")
- @content_class = "limit-container-width" unless fluid_layout

.row
  .col-12
    #js-vue-packages-detail{ data: { package: package_from_presenter(@package),
      can_delete: can?(current_user, :destroy_package, @project).to_s,
      destroy_path: project_package_path(@project, @package),
      svg_path: image_path('illustrations/no-packages.svg'),
      npm_path: package_registry_instance_url(:npm),
      npm_help_path: help_page_path('user/packages/npm_registry/index'),
      maven_path: package_registry_project_url(@project.id, :maven),
      maven_help_path: help_page_path('user/packages/maven_repository/index'),
      conan_path: package_registry_instance_url(:conan),
      conan_help_path: help_page_path('user/packages/conan_repository/index'),
      nuget_path: nuget_package_registry_url(@project.id),
      nuget_help_path: help_page_path('user/packages/nuget_repository/index'),
      pypi_path: pypi_registry_url(@project.id),
      pypi_setup_path: package_registry_project_url(@project.id, :pypi),
      pypi_help_path: help_page_path('user/packages/pypi_repository/index'),
      composer_path: composer_registry_url(@project&.group&.id),
      composer_help_path: help_page_path('user/packages/composer_repository/index'),
      project_name: @project.name} }
